<html lang="ja">
    <head>
        <meta charset="utf-8">
        <title>ログイン エラー</title>
        <link rel="stylesheet" href="../css/bootstrap.css">
        <link rel="stylesheet" href="../css/common.css">
    </head>
    <body>
        <div class="container-fluid">
            <div class="row">
                <div class="col title text-center my-5">
                    カラオケボックス管理システム
                </div>
            </div>

            <div class="main col-8 mx-auto pt-3 text-center">
                <div class="row">
                    <div class="col error mt-5">
                        <h1>ログインエラー</h1>
                    </div>
                </div>
                
                <div class="row my-5">
                    <div class="col">
                      <a class="btn btn-primary"  href="../top.html" role="button">リトライ</a>
                    </div>
                </div>
            </div>

        </div>
    </body>
</html>
