<html lang="ja">
    <head>
        <meta charset="utf-8">
        <title>トップページ画面</title>
        <link rel="stylesheet" href="../css/bootstrap.css">
        <link rel="stylesheet" href="../css/common.css">
    </head>
    <body>
        <div class="container-fluid">
            <div class="p-3">
                <div class="col-12 p-4 main">
                    <div class="row">
                        <div class="offset-1 main_title">
                            まさる堂
                        </div>
                    </div>
                    <div class="row mt-3 mx-4">
                        <a class="col-1 p-1 menu_title" href="../top.html">トップページ</a>
                        <a class="col-1 p-1 menu_title" href="../user/top.html">会員管理</a>
                        <a class="col-1 p-1 menu_title" href="../floor/top.html">フロア管理</a>
                        <a class="col-1 p-1 menu_title" href="top.html">在庫管理</a>
                        <a class="col-1 p-1 menu_title" href="../order/top.html">注文管理</a>
                        <a class="col-1 p-1 menu_title" href="../analyse/top.html">売上分析</a>
                        <a class="col-1 p-1 menu_title" href="../employee/top.html">従業員管理</a>
                        <a class="col-1 p-1 menu_title" href="../service/top.html">会員サービス</a>
                        <a class="col-1 p-1 menu_title" href="../login/logout_confirm.html">ログアウト</a>
                    </div>
                </div>

                <div class="offset-4 my-3 col-4 main_title text-center">
                    在庫管理トップページ
                </div>

                <div class="offset-1 col-10 p-5 main">
                    <div class="row">
                      
             
                    </div>
                    <div class="row my-3">
                        <div class="col-2 offset-1">
                            <a class="btn btn-primary"  href="signup.html" role="button">在庫登録</a>
                        </div>
                        <div class="col-2 offset-1">
                            <a class="btn btn-primary" href="search.html" role="button">在庫管理</a>
                        </div>
                        <div class="col-2 offset-1">
                            <a class="btn btn-primary" href="order_signup.html" role="button">発注登録</a>
                        </div>
                        <div class="col-2 offset-1">
                            <a class="btn btn-primary" href="order_search.html" role="button">発注管理</a>
                        </div>
                    </div>
                    <div class="row mt-5">
  
                    </div>

                </div>

                <div class="offset-8 col-3 my-3">
                    <a class="btn btn-primary m-5" href="top.html" role="button">トップページへ</a>
                </div>

            </div>
        </div>
    </body>
</html>
