<html lang="ja">
    <head>
        <meta charset="utf-8">
        <title>予約キャンセル確認画面</title>
        <link rel="stylesheet" href="../../css/bootstrap.css">
        <link rel="stylesheet" href="../../css/common.css">
    </head>
    <body>
        <div class="container-fluid">
            <div class="p-3">
                <div class="col-12 p-4 main">
                    <div class="row">
                        <div class="offset-1 main_title">
                            まさる堂
                        </div>
                    </div>
                    <div class="row mt-3 mx-4">
                        <a class="col-1 p-1 menu_title" href="../service_top.html">トップページ</a>
                        <a class="col-1 p-1 menu_title" href="top.html">予約</a>
                        <a class="col-1 p-1 menu_title" href="../news/top.html">お知らせ</a>
                        <a class="col-1 p-1 menu_title" href="../coupon/top.html">クーポン</a>
                        <a class="col-1 p-1 menu_title" href="../information/top.html">店舗情報</a>
                        <a class="col-1 p-1 menu_title" href="../setting/detail.html">設定</a>
                        <a class="col-1 p-1 menu_title" href="../service_login/logout_confirm.html">ログアウト</a>
                    </div>
                </div>

                <div class="offset-4 my-3 col-4 text-center main_title">
                    確認画面
                </div>

                <div class="offset-1 col-10 p-5 main">
                    <div class="m-4">
                        <div class="offset-1 sub_title">
                            この予約をキャンセルしますか
                        </div>
                        <table class="offset-3 m-3 col-6 table table-striped">
                            <tr>
                              <td class="field">年月日</td>
                              <td class="input-group"><input type="text" class="form-control" placeholder="2020/09/05" readonly></td>
                            </tr>
                            <tr>
                              <td class="field">時間</td>
                              <td class="input-group"><input type="text" class="form-control" placeholder="17:00" readonly></td>
                            </tr>
                            <tr>
                              <td class="field">利用人数</td>
                              <td class="input-group"><input type="text" class="form-control" placeholder="4" readonly></td>
                            </tr>
                        </table>
                        <div class="row">
                          <div class="col-2 offset-3">
                              <a class="btn btn-primary"  href="delete_complete.html" role="button">削除</a>
                          </div>
                        </div>
                    </div>

                </div>

                <div class="offset-8 col-3 my-3">
                    <a class="btn btn-primary m-5" href="../service_top.html" role="button">トップページへ</a>
                </div>

            </div>
        </div>
    </body>
</html>
