<html lang="ja">
    <head>
        <meta charset="utf-8">
        <title>予約トップページ画面</title>
        <link rel="stylesheet" href="../../css/bootstrap.css">
        <link rel="stylesheet" href="../../css/common.css">
    </head>
    <body>
        <div class="container-fluid">
            <div class="p-3">
                <div class="col-12 p-4 main">
                    <div class="row">
                        <div class="offset-1 main_title">
                            まさる堂
                        </div>
                    </div>
                    <div class="row mt-3 mx-4">
                        <a class="col-1 p-1 menu_title" href="../service_top.html">トップページ</a>
                        <a class="col-1 p-1 menu_title" href="top.html">予約</a>
                        <a class="col-1 p-1 menu_title" href="../news/top.html">お知らせ</a>
                        <a class="col-1 p-1 menu_title" href="../coupon/top.html">クーポン</a>
                        <a class="col-1 p-1 menu_title" href="../information/top.html">店舗情報</a>
                        <a class="col-1 p-1 menu_title" href="../setting/detail.html">設定</a>
                        <a class="col-1 p-1 menu_title" href="../service_login/logout_confirm.html">ログアウト</a>
                    </div>
                </div>

                <div class="offset-4 my-3 col-4 text-center main_title">
                    予約トップページ
                </div>

                <div class="offset-1 col-10 p-5 main">
                    <div class="m-4">
                        <div class="offset-1 sub_title">
                            予約登録
                        </div>
                        <table class="offset-3 m-3 col-6 table table-striped">
                            <tr>
                              <td class="field">年月日</td>
                              <td class="input-group"><input type="text" class="form-control"></td>
                            </tr>
                            <tr>
                              <td class="field">時間</td>
                              <td class="input-group"><input type="text" class="form-control"></td>
                            </tr>
                            <tr>
                              <td class="field">利用人数</td>
                              <td class="input-group"><input type="text" class="form-control"></td>
                            </tr>
                        </table>
                        <div class="row">
                          <div class="col-2 offset-3">
                              <a class="btn btn-primary"  href="signup_confirm.html" role="button">検索</a>
                          </div>
                          <div class="col-2 offset-1">
                              <a class="btn btn-primary"  href="top_error.html" role="button">エラー</a>
                          </div>
                        </div>
                    </div>

                    <div class="m-4">
                        <div class="offset-1 sub_title">
                            予約一覧
                        </div>
                        <table class="offset-3 m-3 col-6 table table-striped">
                            <tr>
                              <th>日付</th>
                              <th>時間</th>
                              <th>人数</th>
                              <th>キャンセル</th>
                            </tr>
                            <tr>
                              <td class="field">9/1</td>
                              <td>10:00</td>
                              <td>1人</td>
                              <td><a class="btn btn-primary" href="delete_confirm.html" role="button">キャンセル</a></td>
                            </tr>
                        </table>
                    </div>

                </div>

                <div class="offset-8 col-3 my-3">
                    <a class="btn btn-primary m-5" href="../service_top.html" role="button">トップページへ</a>
                </div>

            </div>
        </div>
    </body>
</html>
