<html lang="ja">
    <head>
        <meta charset="utf-8">
        <title>アカウント登録画面</title>
        <link rel="stylesheet" href="../../css/bootstrap.css">
        <link rel="stylesheet" href="../../css/common.css">
    </head>
    <body>
        <div class="container-fluid">
            <div class="row">
                <div class="title col-4 offset-4 text-center my-5">
                    アカウント登録画面
                </div>
            </div>

            <div class="offset-1 col-10 pt-3 text-center main">
                <div class="offset-2 col-6 p-3 sub_title">
                    各項目を入力してください
                </div>
                <table class="offset-3 col-6 table table-striped">
                    <tr>
                      <td class="field">会員ID</td>
                      <td class="input-group"><input type="text" class="form-control"></td>
                    </tr>
                    <tr>
                      <td class="field">パスワード</td>
                      <td class="input-group"><input type="text" class="form-control"></td>
                    </tr>
                    <tr>
                      <td class="field">パスワード(確認)</td>
                      <td class="input-group"><input type="text" class="form-control"></td>
                    </tr>
                    <tr>
                      <td class="field">名前</td>
                      <td class="input-group"><input type="text" class="form-control"></td>
                    </tr>
                    <tr>
                      <td class="field">性別</td>
                      <td class="input-group"><input type="text" class="form-control"></td>
                    </tr>
                    <tr>
                      <td class="field">生年月日</td>
                      <td class="input-group"><input type="text" class="form-control"></td>
                    </tr>
                    <tr>
                      <td class="field">メール</td>
                      <td class="input-group"><input type="text" class="form-control"></td>
                    </tr>
                    <tr>
                      <td class="field">電話番号</td>
                      <td class="input-group"><input type="text" class="form-control"></td>
                    </tr>
                    <tr>
                      <td class="field">職業</td>
                      <td class="input-group"><input type="text" class="form-control"></td>
                    </tr>
                </table>
                <div class="row my-5">
                    <div class="col-2 offset-3">
                      <a class="btn btn-primary"  href="signup_confirm.html" role="button">確認画面</a>
                    </div>
                    <div class="col-2 offset-1">
                      <a class="btn btn-primary" href="../signup.html" role="button">キャンセル</a>
                    </div>
                    <div class="col-2 offset-1">
                      <a class="btn btn-primary" href="signup_error.html" role="button">エラー</a>
                    </div>
                </div>
            </div>

            <div class="offset-8 col-3 my-3">
                <a class="btn btn-primary m-5" href="../service_index.html" role="button">ログイン画面へ</a>
            </div>

        </div>
    </body>
</html>
