<html lang="ja">
    <head>
        <meta charset="utf-8">
        <title>アカウント登録完了</title>
        <link rel="stylesheet" href="../../css/bootstrap.css">
        <link rel="stylesheet" href="../../css/common.css">
    </head>
    <body>
        <div class="container-fluid">
            <div class="row">
                <div class="title col-4 offset-4 text-center my-5">
                    アカウント登録完了
                </div>
            </div>

            <div class="offset-8 col-3 my-3">
                <a class="btn btn-primary m-5" href="../service_index.html" role="button">ログイン画面へ</a>
            </div>

        </div>
    </body>
</html>
