<html lang="ja">
    <head>
        <meta charset="utf-8">
        <title>検索結果画面</title>
        <link rel="stylesheet" href="../css/bootstrap.css">
        <link rel="stylesheet" href="../css/common.css">
    </head>
    <body>
        <div class="container-fluid">
            <div class="p-3">
                <div class="col-12 p-4 main">
                    <div class="row">
                        <div class="offset-1 main_title">
                            まさる堂
                        </div>
                    </div>
                    <div class="row mt-3 mx-4">
                        <a class="col-1 p-1 menu_title" href="../top.html">トップページ</a>
                        <a class="col-1 p-1 menu_title" href="../user/top.html">会員管理</a>
                        <a class="col-1 p-1 menu_title" href="../floor/top.html">フロア管理</a>
                        <a class="col-1 p-1 menu_title" href="../stock/top.html">在庫管理</a>
                        <a class="col-1 p-1 menu_title" href="../order/top.html">注文管理</a>
                        <a class="col-1 p-1 menu_title" href="../analyse/top.html">売上分析</a>
                        <a class="col-1 p-1 menu_title" href="../employee/top.html">従業員管理</a>
                        <a class="col-1 p-1 menu_title" href="top.html">会員サービス</a>
                        <a class="col-1 p-1 menu_title" href="../login/logout_confirm.html">ログアウト</a>
                    </div>
                </div>

                <div class="offset-4 my-3 col-4 main_title text-center">
                    検索結果
                </div>

                <div class="offset-1 col-10 p-5 main">
                    <div class="row">
                        <div class="offset-3 sub_title">
                            クーポン検索
                        </div>
                        <div class="offset-5 mt-3 col-5">
                            <input type="text" class="form-control" value="室料">
                        </div>
                    </div>
                    <div class="row my-3">
                        <div class="col-2 offset-4">
                            <a class="btn btn-primary"  href="coupon_search.html" role="button">検索</a>
                        </div>
                        <div class="col-2 offset-1">
                            <a class="btn btn-primary" href="top.html" role="button">クリア</a>
                        </div>
                    </div>
                    <div class="row mt-5">
                        <div class="offset-3 sub_title">
                            ソート条件
                        </div>
                    </div>
                    <div class="row">
                        <div class="offset-5 mt-3">
                            <div class="dropdown">
                                <button class="btn btn-secondary dropdown-toggle"
                                      type="button" id="dropdownMenu1" data-toggle="dropdown"
                                      aria-haspopup="true" aria-expanded="false">
                                    ソート条件
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                    <a class="dropdown-item" href="#!">部屋番号</a>
                                    <a class="dropdown-item" href="#!">収容人数</a>
                                    <a class="dropdown-item" href="#!">機材状況</a>
                                    <a class="dropdown-item" href="#!">清掃状況</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="offset-3 p-3 sub_title">
                        検索結果
                    </div>
                    <table class="offset-3 col-6 table table-striped">
                        <tr>
                          <th class="field">クーポンID</th>
                          <th class="field">タイトル</th>
                          <th class="field">詳細</th>
                        </tr>
                        <tr>
                          <td>00001</td>
                          <td>オープンセール</td>
                          <td><a class="btn btn-primary" href="coupon_detail.html" role="button">詳細</a></td>
                        </tr>
                        <tr>
                          <td>00003</td>
                          <td>レディースデイ</td>
                          <td><a class="btn btn-primary" href="coupon_detail.html" role="button">詳細</a></td>
                        </tr>
                        <tr>
                          <td>00004</td>
                          <td>GW割引</td>
                          <td><a class="btn btn-primary" href="coupon_detail.html" role="button">詳細</a></td>
                        </tr>
                    </table>
                </div>

                <div class="offset-8 col-3 my-3">
                    <a class="btn btn-primary m-5" href="top.html" role="button">トップページへ</a>
                </div>

            </div>
        </div>
    </body>
</html>
