<html lang="ja">
    <head>
        <meta charset="utf-8">
        <title>トップページ画面</title>
        <link rel="stylesheet" href="../css/bootstrap.css">
        <link rel="stylesheet" href="../css/common.css">
    </head>
    <body>
        <div class="container-fluid">
                <div class="main m-1">
                    <div class="row">
                        <div class="offset-1 title col-2">
                            まさる堂
                        </div>
                        <div class="offset-1 sub_title pt-4">
                            メニューボタンをタッチして注文してください
                        </div>
                    </div>
                </div>
            <div class="p-3 row">
                <div class="main p-1 offset-1 col-10">
                    <div class="offset-3 p-3 h4">
                        注文履歴
                    </div>
                    <table class="offset-3 col-6 my-4 table table-striped">
                        <tr>
                          <th class="field">名前</th>
                          <th class="field">数量</th>
                          <th class="field">金額</th>
                        </tr>
                        <tr>
                          <td>ラーメン</td>
                          <td>4</td>
                          <td>3200円</td>
                        </tr>
                        <tr>
                          <td>ビール</td>
                          <td>4</td>
                          <td>1600円</td>
                        </tr>
                        <tr>
                          <td>枝豆</td>
                          <td>2</td>
                          <td>600円</td>
                        </tr>
                        <tr>
                          <td>唐揚げ</td>
                          <td>2</td>
                          <td>700円</td>
                        </tr>
                    </table>
                    <div class="row my-4">
                        <div class="offset-8 col-2 text-center h4">
                            合計
                        </div>
                        <div class="col-2 text-center h4">
                            6100円
                        </div>
                    </div>
               </div>
            </div>
            <div class="offset-8 col-3 my-3">
                <a class="btn btn-primary" href="top.html" role="button">トップページへ</a>
            </div>

        </div>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </body>
</html>
