<html lang="ja">
    <head>
        <meta charset="utf-8">
        <title>ログイン画面</title>
        <link rel="stylesheet" href="../css/bootstrap.css">
        <link rel="stylesheet" href="../css/common.css">
    </head>
    <body>
        <div class="container-fluid">
            <div class="row">
                <div class="col title text-center my-5">
                    商品注文システム
                </div>
            </div>

            <div class="offset-1 col-10 pt-3 text-center main">
                <div class="offset-4 my-5 col-4 main_title">
                    ログイン画面
                </div>
                <div class="row my-5">
                    <div class="offset-3 col-2">
                        従業員ID
                    </div>
                    <div class="col-4">
                        <input type="text" placeholder="従業員ID">
                    </div>
                </div>
                <div class="row my-5">
                    <div class="offset-3 col-2">
                        パスワード
                    </div>
                    <div class="col-4">
                        <input type="password" placeholder="パスワード">
                    </div>
                </div>
                <div class="row my-5">
                    <div class="col-2 offset-3">
                      <a class="btn btn-primary"  href="signup.html" role="button">ログイン</a>
                    </div>
                    <div class="col-2 offset-1">
                      <a class="btn btn-primary" href="index.html" role="button">クリア</a>
                    </div>
                    <div class="col-2 offset-1">
                      <a class="btn btn-primary"  href="login_error.html" role="button">エラー</a>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
