<html lang="ja">
    <head>
        <meta charset="utf-8">
        <title>トップページ画面</title>
        <link rel="stylesheet" href="../css/bootstrap.css">
        <link rel="stylesheet" href="../css/common.css">
    </head>
    <body>
        <div class="container-fluid">
            <div class="p-3 row">
                <div class="main p-1 col-10">
                    <div class="row m-2">
                        <a class="mx-2" href="top.html">
                            <div class="btn btn-light">
                                トップ
                            </div>
                        </a>
                        <a class="mx-2" href="recommend.html">
                            <div class="btn btn-light">
                                オススメ
                            </div>
                        </a>
                        <a class="mx-2" href="food.html">
                            <div class="btn btn-light">
                                フード
                            </div>
                        </a>
                        <a class="mx-2" href="drink.html">
                            <div class="btn btn-light">
                                ドリンク
                            </div>
                        </a>
                        <a class="mx-2" href="sidemenu.html">
                            <div class="btn btn-light">
                                サイドメニュー
                            </div>
                        </a>
                        <a class="mx-2" href="desert.html">
                            <div class="btn btn-light">
                                デザート
                            </div>
                        </a>
                    </div>
                    <div class="row m-2">
                        <a class="mx-2" href="recommend.html">
                            <div class="btn btn-dark">
                                期間限定メニュー
                            </div>
                        </a>
                    </div>
                    <div class="row m-2">
                        <div class="h2 offset-2 col-6 text-center">
                            ジェノベーゼ
                        </div>
                    </div>
                    <div class="row m-2">
                        <img class="offset-2 col-6" src="../images/TC0I9A3084_TP_V.jpg">
                        <div class="col-4 text-center">
                            <div class="h4 mb-3">
                                アレルギー
                            </div>
                            <h4>
                                <div class="badge badge-warning">
                                    小麦
                                </div>
                                <div class="badge badge-warning">
                                    乳
                                </div>
                            </h4>
                            <div class="p-5">
                            </div>
                            <div class="p-3">
                            </div>
                            <div class="h2 mt-5">
                                800円
                            </div>
                        </div>
                    </div>
                    <div class="row m-2">
                        <div class="offset-2 col-6">
                            ジェノベーゼとは、イタリア・リグリア州のジェノバ（Genova）県うまれのソースで、 バジルペーストに、松の実、チーズ、オリーブオイルなどを加えたものです。 香り豊か・味も抜群で、もちろんパスタ以外の料理にも使われます。
                        </div>
                        <div class="col-4 text-center">
                            <div class="h5">
                                <div class="row mt-4 text-center">
                                    <div class="offset-3 col-2 btn btn-secondary">
                                        -
                                    </div>
                                    <div class="col-2 mt-2">
                                        0
                                    </div>
                                    <div class="col-2 btn btn-secondary">
                                        +
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-2 p-1">
                    <div class="text-center mx-3">
                        <div class="field sub_title py-3">
                            注文リスト
                        </div>
                        <div class="sub py-3">
                            <div class="row py-2">
                                <div class="ml-2 mr-1">
                                    フライドポテト
                                </div>
                                <div class="mx-1 btn-sm btn-secondary">
                                    -
                                </div>
                                2
                                <div class="mx-1 btn-sm btn-secondary">
                                    +
                                </div>
                            </div>
                            <div class="row py-2">
                                <div class="mx-4">
                                    ビール
                                </div>
                                <div class="mx-3 row">
                                    <div class="mx-1 btn-sm btn-secondary">
                                        -
                                    </div>
                                    4
                                    <div class="mx-1 btn-sm btn-secondary">
                                        +
                                    </div>
                                </div>
                            </div>
                            <div class="row py-5">
                            </div>
                            <div class="row py-5">
                            </div>
                            <div class="row py-5">
                            </div>
                            <div class="row py-3">
                            </div>
                            <div class="row py-3">
                            </div>
                            <div class="btn-lg btn-success" data-toggle="modal" data-target="#exampleModalCentered">
                                注文する
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="exampleModalCentered" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenteredLabel" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenteredLabel">この内容で注文しますか?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <div class="row">
                    <div class="offset-1 col-6 text-center">
                        フライドポテト
                    </div>
                    <div class="col-2 text-center">
                        ×2
                    </div>
                    <div class="col-2 text-center">
                        700円
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="offset-1 col-6 text-center">
                        ビール
                    </div>
                    <div class="col-2 text-center">
                        ×4
                    </div>
                    <div class="col-2 text-center">
                        1600円
                    </div>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">閉じる</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" data-toggle="modal" data-target="#modal1">注文する</button>
              </div>
            </div>
          </div>
        </div>
        <div class="modal fade" id="modal1" tabindex="-1"
      role="dialog" aria-labelledby="label1" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="label1">注文完了しました</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <div class="text-center h4">
                    料理提供までお待ちください
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">閉じる</button>
              </div>
            </div>
          </div>
        </div>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </body>
</html>
